/build
SMBtesting.ipynb
SMBtesting-checkpoint.ipynb
Test cif.cif
rare test.cif
Documentation/RadialIntegrals_TM.txt
Documentation/SpinOrbitCouplingConstants_TM.txt
~$Ion data.xlsx
Convert Cowan to angstroms.nb
